.p-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  gap: 1rem;
}

@media (max-width: 1500px) {
  .p-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .p-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .p-grid {
      grid-template-columns: 1fr;
  }
}